#container {
    display: grid;
    height: 100vh;
    width: 200vh;
    grid-column-gap:0vh;
    grid-row-gap: 0vh;
    grid-template-areas: 
    'hd hd hd hd hd'
    'mn mn ft ft ft'
    'mn mn as as as';
  }
  header {
    height: 25vh;
    width:120vh;
    grid-area:hd;
    background-color: black;
    background:linear-gradient(#711c91 0%, #000 100%);
    border-style:solid;
    border-color: black;
  }

  aside {
    height: 50vh;
    width:80vh;
    grid-area:as;
    background-color: #711c91;
    background:linear-gradient(to right,#000 0%, #711c91 100%);
    border-style:solid;
    border-color: black;}
    